@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

.button {
   background: none;
   border: none;
   margin: 0 auto;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
}

.child-container {
   width: 400px;
   height: 400px;
}

.header {
   height: 70px;
   color: red;
   font-size: 50px;
   text-align: center;
   font-weight: bold;
   line-height: 70px;
}


.cube {
   transform-style: preserve-3d;
   transform: rotateY(360deg);
}

.active-cube {
   animation: turns 20s infinite linear;
}

.face {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px;
   position: absolute;

}

.internal-faces {
   width: 129px;
   height: 129px;
   border: 2px solid black;
   border-radius: 10px;

}


/* Animation */
@keyframes turns {
   0% {
      transform: rotateY(360deg) rotateX(-360deg) rotateZ(360deg);
   }
}

/* Colors */
#yellow-face {
   transform: translateY(-200px) rotateX(90deg);
}

#green-face {
   transform: translateZ(200px);
}

#blue-face {
   transform: translateZ(-200px);
}

#red-face {
   transform: translateX(-200px) rotateY(90deg);
}

#orange-face {
   transform: translateX(200px) rotateY(90deg);
}

#white-face {
   transform: translateY(200px) rotateX(90deg);
}

.yellow {
   background-color: rgba(255, 255, 0, 0.61);
}

.green {
   background-color: rgba(0, 128, 0, 0.61);
}

.blue {
   background-color: rgba(0, 0, 255, 0.61);
}

.red {
   background-color: rgba(255, 0, 0, 0.61);
}

.orange {
   background-color: rgba(255, 166, 0, 0.61);
}

.white {
   background-color: rgba(255, 255, 255, 0.61);
}